.path-mod-praxe div.praxedisplay h3 {
	text-align: center;
}

.path-mod-praxe div.praxedisplay .infobox {
	margin-top: 10px;
	margin-bottom: 10px;
}

.path-mod-praxe div.praxedisplay .infobox.center {
	text-align: center;	
}

.path-mod-praxe div.praxedisplay .status_infobox {
	padding: 0 10px 10px 10px;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

.path-mod-praxe div.praxedisplay table.praxe th.header {
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
}

.path-mod-praxe div.praxedisplay table.praxe td.center, .path-mod-praxe div.praxedisplay table.praxe th.center {	
	text-align: center;	
}

.path-mod-praxe div.praxedisplay table.praxe td.green {
	background-color: #AAFFAA;
}

.path-mod-praxe div.praxedisplay table.praxe td.red {
	background-color: #FF0000;
}

.path-mod-praxe div.praxedisplay div.center, .path-mod-praxe div.praxedisplay fieldset.center, .path-mod-praxe div.praxedisplay table.center, .path-mod-praxe div.praxedisplay td.center, .path-mod-praxe div.praxedisplay th.center {
	text-align: center;
}

.path-mod-praxe div.praxedisplay div.before_form {
	text-align: center;
	padding-bottom: 10px;
}

.path-mod-praxe div.praxedisplay table.twocolstable td {
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: top;
}
.path-mod-praxe div.praxedisplay table.twocolstable td.c0 {
	font-weight: bold;		
}
.path-mod-praxe div.praxedisplay table.twocolstable td.c1 {
	padding-left: 5px;			
}

.path-mod-praxe div.praxedisplay table.floatinfotable.left {
	float: left;
	margin-right: 50px;
}
.path-mod-praxe div.praxedisplay table.floatinfotable.left.last {
	margin-right: 5px;
}
.path-mod-praxe div.praxedisplay table.floatinfotable.right {
	float: right;
	margin-left: 20px;
}

.path-mod-praxe div.praxedisplay div.inspector {
	font-size: 12px;	
}

.path-mod-praxe div.praxedisplay div.filterselector {
	margin-top: 5px;
	margin-bottom: 5px;
}
.path-mod-praxe div.praxedisplay div.filterselector form.popupform {
	margin-left: 20px;	
}

.path-mod-praxe div.praxedisplay .form.confirmschedule {
	width: 300px;
	margin: 20px auto;
	text-align: left;	
}

.path-mod-praxe div.praxedisplay .form.confirmschedule div {
	margin: 5px;	
}

.path-mod-praxe div.praxedisplay table.scheduletable {
	min-width: 30%;
	max-width: 80%;
	margin-left: 10%;	
}
.path-mod-praxe div.praxedisplay table.scheduletable th {
	text-align: left;
	padding: 2px, 5px;
}
.path-mod-praxe div.praxedisplay table.scheduletable td {
	min-width: 100px;
	max-width: 350px;
	text-align: left;
	padding: 5px;
}

.path-mod-praxe div.praxedisplay table.scheduletable th.header.first {
	width: 100px;
	text-align: left;
}

/** form and rows in forms **/
.path-mod-praxe form.mform {
	margin-top: 30px;
}

.path-mod-praxe form.mform div.frow {
	margin-top: 20px;	
}

.path-mod-praxe form.mform div.frow.submit {
	padding-left: 230px;	
}


.path-mod-praxe form.mform div.frow > label {
	font-weight: bold;
	text-align: right;
	display: inline-block;
    margin-right: 30px;
    min-width: 200px;    
    vertical-align: top;
}
.path-mod-praxe form.mform div.frow > div {
	text-align: left;
	display: inline-block;	
}

.path-mod-praxe .filterselector .singleselect {
	margin-right: 20px;
}
